.flexRow {
  border: 1px dotted red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flexRow {
    flex-direction: column;
    flex: 100%;
  }
}
