body {
  font-family: "Trirong", serif;
  background: #e5e5e5;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
main {
  border: 2px dotted #ff004d;
  background: #dce2f0;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 40px;
}
.btn {
  padding: 10px 30px;
  background: #436850;
  cursor: pointer;
  color: #fff;
}

input,
textarea {
  padding: 20px;
  margin-bottom: 15px;
}

.modal-body-row {
  margin-bottom: 20px;
}

.error-message {
  color: red;
}


.task-actions {
  padding: 0 10px;
}