body {
  font-family: "Trirong", serif;
  height: 100vh;
  margin: 0;
}

.navbar {
  background: #0a2647;
  font-size: 20px;
  font-family: "Trirong", serif;
  /*padding-top: 15px;*/
  letter-spacing: 1px;
  /*margin-bottom: 0;*/
}

.navbar li a,
.navbar .navbar-brand {
  color: #fff;
}

.section {
  padding: 40px 0;
}

.countdown-container {
  text-align: center;
}

.box {
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 7px;
  box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.08);
}

.box p {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  margin: 1rem 2rem;
}

.box span {
  font-size: 1.5rem;
}
