body {
  font-family: "Trirong", serif;
  background: #e5e5e5;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
main {
  border: 2px dotted #ff004d;
  background: #dce2f0;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.to-do-app-row {
  text-align: start;
  padding: 10px 0;
  /*border: 2px dotted #ff004d;*/
}

.add-new-task-button {
  padding: 20px 30px;
  background: #436850;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
}

.add-new-task-button:hover {
  background-color: #1c550e;
  color: #fff;
}

.my-tasks-row {
  /*border: 2px dotted #ff004d;*/
  padding: 10px 20px;
  text-align: center;
  margin-top: 10px;
}

input,
textarea {
  padding: 20px;
  margin-bottom: 15px;
}

.modal-body-row {
  margin-bottom: 20px;
}

.error-message {
  color: red;
}

.task-actions {
  padding: 0 10px;
}

.fas {
  font-size: 20px;
}

#modalCloseButton,
#modalSubmitButton {
  padding: 10px 30px;
}

/* Styles for the created div in JavaScript */
.task-item {
  text-align: center;
  border: 3px solid #abcea1;
}

.task-item,
.fas {
  padding: 0 5px;
}
