body {
  font-family: "Trirong", serif;
}
main {
  border: 2px dotted #ff004d;
  padding: 40px 0;
}
.input-group {
  margin: 20px 0;
}
#newTaskInput {
  width: 80%;
}

#addItemButton {
  width: 20%;
}
