body {
  font-family: "Trirong", serif;
  height: 100vh;
}
main {
  border: 2px dotted #ff004d;
  /*background-color: #e5e5e5;*/
}

h1 {
  text-align: center;
}
.add-new-tasks-container {
  background-color: #e2eede;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.tasks-container {
  text-align: center;
}

.form-row {
  margin: 12px 0;
}

.box {
  text-align: center;
}

.btn {
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 10px;
  text-align: center;
}

.fa-solid {
  font-size: 20px;
}
