body {
  font-family: "Trirong", serif;
  height: 100vh;
  background-color: #f0edcc;
  display: flex;
  flex-flow: column nowrap;
}

main {
  border: 2px dotted #ff004d;
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar {
  background: #0a2647;
  font-size: 20px;
  font-family: "Trirong", serif;
  /*padding-top: 15px;*/
  letter-spacing: 1px;
  /*margin-bottom: 0;*/
}

.navbar li a,
.navbar .navbar-brand {
  color: #fff;
}

.circle {
  border: 1px solid #000000;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  line-height: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
  width: 100px;
}

#blackBtn {
  background-color: #000000;
  color: #fff;
}

#redBtn {
  background-color: red;
}

#greenBtn {
  background-color: green;
}
