.text-area-section {
  display: grid;
  place-items: center;
  /*min-height: 100vh;*/
  padding: 8px 20px;
  background-color: #f5f5ff;
}
h1 {
  text-align: center;
  margin: 10px 0 20px;
}

.text-area-row {
  padding: 20px;
  font-size: 16px;
  margin-bottom: 70px;
  border: 1px dotted red;
}

label {
  font-size: 24px;
  font-weight: bold;
}

textarea {
  box-shadow: 1px 1px 12px #aaa;
  resize: none;
  padding: 10px;
  margin: 10px 0;
  letter-spacing: 1.3px;
  border-radius: 20px;
}

textarea:focus {
  outline: 1px solid rgb(14, 51, 14);
}
