/*
header {
  
  display: flex;
  align-items: center;
  
  transition: height 0.3s ease;
  right: 0;
  right: 0;
  left: 0;
  top: 0;
  opacity: 0.9;
  backdrop-filter: saturate(180%) blur(20px);
  justify-content: space-between;
}
*/
/*
.navbar-brand {
  padding: 1.5em;
  font-size: 2rem;
}
*/

.navbar-toggler {
  background-color: #fff;
  width: 80px;
  border-color: transparent;
}
