* {
    font-family: cursive;
    margin: 0;
    padding: 0;
}

.page {
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
}

.sub-section {
    flex: 1;
    height: 100vh;
}

.left-section {
    background-color: purple;
    background-size: cover;
}

.time {
    color: #fff;
    text-transform: uppercase;
    width: 90%;
    display: flex;
    justify-content: center;
}

.left {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.time span {
    padding: 0 14px;
    font-size: 24px;
}

.time span div {
    font-size: 40px;
}

.newsletter {
    width: 90%;
}

.newsletter h4 {
    font-size: 12px;
    font-style: italic;
}

.right {
    position: absolute;
    top: 50%;
    right: -60%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.newsletter input {
    display: block;
    margin: 12px auto;
    width: 12%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 14px 20px;
    border-radius: 30px;
    border: 1px solid #ddd;
    outline: none;
}

.newsletter-button {
	background: linear-gradient(125deg, #3498db, #34495e);
	color: #fff;
	cursor: pointer;
	transition: 0.4s;
}

.newsletter-button:hover {
	opacity: 0.7;
}

@media screen and (max-width: 900px){
	.col {
		flex: 100%;
	}
}
